body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    margin: 0;
    height: 100vh;
    width: 100vw;
}

#sidebar {
    flex-grow: 1;
    max-width: 300px;

    background-color: #F8FAFF;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#container {
    flex-grow: 4;
    background-color: #FFFFFF;
    padding: 3vh 20px 3vh 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columnar-form {
    display: flex;
    flex-direction: column;
}

.name-form-text-input {
    width: 345px;
    height: 36px;
    background-color: #F9FBFF;
    border: 1px;
    border-style: solid;
    border-color:  #D7E7FF;
    font-size: 18pt;
    font-family: Lato;
    color: #444444;
}

#email-list-main-container:hover .email-text-input-delete-button {
    display: block;
}

.email-text-input {
    font-size: 18pt;
    font-family: Lato;
    color: #444444;
    font-weight: 300;
    border: 0;
}

.email-text-input-delete-button {
    display: none;
    background: #FFFFFF;
    border: 0;
}

#email-list-add-button-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.email-form-input-container {
    display: flex;
    flex-direction: row;
}

#new-contact-btn {
    border: 0;
    background-color: transparent;
}

#form-submit-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#righthand-btn-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.form-change-btn {
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-size: 18pt;
    font-family: Lato;
}

.colored-btn {
    border: 0;
    color: white;
}

#form-cancel-btn {
    border: 1px;
    border-style: solid;
    border-color: #579AFF;
    text-color: black;
    background-color: #FFFFFF;
}

