<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script>
        async function loadItems() {
            let response = await fetch('/people');
            let items = await response.json();
            console.log(items);
            let itemsContainer = document.getElementById('peoples');
            itemsContainer.innerHTML = '';
            items.forEach(item => {
                let div = document.createElement('div');
                div.innerHTML = `${item.person_id} - ${item.first_name} - ${item.last_name}`;
                itemsContainer.appendChild(div);
            });
        }
        window.onload = loadItems;
    </script>
</head>
<body>

<div id="sidebar">
    <h1>Contacts</h1>
    <div id="peoples"></div>
</div>

<div id="container">
    <p> emails go here. </p>
</div>
</body>
</html>