<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/text-styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add_circle,do_not_disturb_on" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <script src="{{ url_for('static', filename='javascript/crud.js') }}"></script>
</head>
<body>

<div id="sidebar">
    <div id="sidebar-title">
        <span class="page-title">Contacts</span>
        <button type="button" id="new-contact-btn" onclick="resetForm()"><span class="material-symbols-outlined md-48 my-blue">add_circle</span></button>
    </div>
    <ul id="people-name-list"></ul>
</div>

<div id="container">
    <form id="main-form" action="/" class="columnar-form">
        <input style="display:none;" id="person_id" name="person_id" type="text" value="" readonly/>

        <div id="top-form-container">
            <div id="name-input-container">
                <div style="float:left;margin-right:20px;">
                    <label class="name-input-label" for="first_name">First Name</label>
                    <input class="name-form-text-input" id="first_name" name="first_name" type="text" />
                </div>

                <div style="float:left;margin-right:20px;">
                    <label class="name-input-label" for="last_name">Last Name</label>
                    <input class="name-form-text-input" id="last_name" name="last_name" type="text" />
                </div>
            </div>
            <div id="email-list-main-container">
                <label class="name-input-label">Email</label>
                <div id="email-list"></div>
                <div id="email-list-add-button-container" onclick="addEmail()">
                    <span class="material-symbols-outlined md-24 my-blue">add_circle</span>
                    <span id="add-email-text" class="my-blue">add email</span>
                </div>
            </div>
        </div>
        <div id="form-submit-btn-container">
            <input type="submit" id="form-delete-btn" formmethod="DELETE" class="form-change-btn colored-btn my-red-bg" name="action" value="Delete" onclick="submitDelete()">
            <div id="righthand-btn-container">
                <button type="button" id="form-cancel-btn" class="form-change-btn"  onclick="resetForm()">Cancel</button>
                <input type="submit" id="form-save-btn" class="form-change-btn colored-btn my-blue-bg" name="action" value="Save" onclick="submitSave()"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>