<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/text-styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add_circle,do_not_disturb_on" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <script src="{{ url_for('static', filename='javascript/crud.js') }}"></script>
</head>
<body>

<div id="sidebar">
    <p class="page-title">Contacts</p>
    <span class="material-symbols-outlined md-36 my-blue">add_circle</span>
    <table id="peopleTable"></table>
</div>

<div id="container">
    <form class="columnar-form">
        <div id="name-input-container">
            <div style="float:left;margin-right:20px;">
                <label class="name-input-label" for="first_name">First Name</label>
                <input class="name-form-text-input" id="first_name" type="text" />
            </div>

            <div style="float:left;margin-right:20px;">
                <label class="name-input-label" for="last_name">Last Name</label>
                <input class="name-form-text-input" id="last_name" type="text" />
            </div>
        </div>
        <div id="email-list-main-container">
            <div id="email-list">
                <label class="name-input-label" for="email_i">Email</label>
                <input type="text" name="inputs[]" value="">
            </div>
            <div id="email-list-add-button-container">
                <span class="material-symbols-outlined md-24 my-blue">add_circle</span>
                <span id="add-email-text" class="my-blue">add email</span>
            </div>
        </div>
        <div id="form-submit">
            <input type="submit" value="Save"/>
        </div>
    </form>

    <span class="material-symbols-outlined md-36 my-red">do_not_disturb_on</span>
    <span class="material-symbols-outlined md-36 my-blue">add_circle</span>
</div>
</body>
</html>